body {
	font-family: 'Open Sans', 'Calibri', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#main {
	width: 100%;
	height: 100%;
}

#mainLeft{
	width: 100%;
	height: 100%;
}

#mainTitle {
	height: 60px;
	font-size: 32px;
	line-height: 60px;
	padding-left: 15px;
    padding-right: 20px;
    float: left;
}

#indexControls {
    float: right;
    width: 520px;
}

.filterHeading {
    line-height: 60px;
    font-size: 16px;
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}

.filterButtons {
    line-height:60px;
}

.filterButton {
    display: inline-block;
    text-align: center;
    vertical-align: central;
}

.filterButton a {
    text-decoration: none;
    color: black;

    border-radius: 9px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;

    font-size: 12px;
    display: inline-block;
    width: 48px;
    height: 28px;
    line-height: 28px;
}

.map {
	width: 100%;
	height: calc(100% - 60px);
	background-color: lightgrey;
}

#mainRight {
	position: absolute;
	display: none;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	border-left: 2px solid grey;
	box-sizing: border-box;
	background-color: white;
}

#mainRight #closeBtn {
	position: absolute;
	right: 10px;
	top: 10px;
}

#mainRight #viewBtn {
	position: absolute;
	right: 30px;
	top: 10px;
}

#mainRight #closeBtn:after {
    font-family: FontAwesome;
    content: '\f00d';
}
#mainRight #closeBtn:hover:after {
    cursor: pointer;
}

#mainRight #viewBtn:after {
    font-family: FontAwesome;
    content: '\f06e';
}
#mainRight #viewBtn:hover:after {
    cursor: pointer;
}

#mainRight #entityInfo {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

#mainRight #entityInfo #entityTitle {
	font-size: 24px;
}

#mainRight #entityInfo #entitySubtitle {
	font-size: 14px;
	color: rgb(128, 128, 128);
}

#entityChartData {
	width: 100%;
	height: auto;
}

#entityChartData .entityDataChart {
	position: relative;
	display: block;
	width: 90%;
	height: 200px;
	margin: auto;
	margin-top: 30px;
}

#mainRight .chartTitle {
    font-size: 120%;
    text-align: center;
}

.legend {
    margin: auto;
    padding: 5px;
    width: 10em;
    border: 1px solid grey;
}

.legend .title {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}